.container {
  margin-top: 35px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  color: #606060;
}

.container img {
  cursor: pointer;
}

.firstBlock {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.firstBlock .left {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.firstBlock .left div:first-child {
  margin-top: 20px;
}
.firstBlock .left div:nth-child(2) {
  margin-top: 20px;
  line-height: 1.3em;
}
.firstBlock .left img {
  margin-top: 95px;
  margin-left: 30px;
  width: 75%;
  align-self: center;
}
.firstBlock .left div:last-child {
  margin-top: 20px;
  align-self: center;
}
.firstBlock .right {
  margin-top: 60px;
  width: 65%;
  display: flex;
  flex-direction: column;
}
.firstBlock .right img {
  width: 100%;
}
.firstBlock .right div {
  margin-top: 20px;
  align-self: center;
}

.secondBlock {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.secondBlock div:first-child {
  width: 23%;
  margin-bottom: 50px;
  margin-left: -20px;
}
.secondBlock div:last-child {
  width: 23%;
  margin-bottom: 60px;
}
.secondBlock img {
  width: 46%;
  margin-right: 20px;
}

.thirdBlock {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}
.thirdBlock div:first-child {
  margin-left: 40px;
  width: 54%;
  display: flex;
  flex-direction: column;
}
.thirdBlock div:first-child img {
  width: 100%;
}
.thirdBlock div:first-child div {
  margin-top: 15px;
  align-self: center;
}
.thirdBlock div:last-child {
  margin-right: 5.5%;
  width: 27%;
  display: flex;
  flex-direction: column;
}
.thirdBlock div:last-child img {
  width: 100%;
}
.thirdBlock div:last-child div {
  margin-top: 20px;
  align-self: center;
}

.fourthBlock {
  margin-top: 70px;
  margin-left: -15px;
  width: 65%;
}

.fifthBlock {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fifthBlock div:first-child {
  margin-top: 35px;
  margin-left: -15px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.fifthBlock div:first-child img {
  width: 100%;
}
.fifthBlock div:first-child div {
  margin-top: 15px;
  align-self: center;
}
.fifthBlock img {
  margin-right: 10%;
  width: 27%;
}

.sixthBlock {
  margin-top: 30px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sixthBlock img {
  width: 53%;
}
.sixthBlock div {
  margin-top: 20px;
}

.projectsLink {
  margin: 30px auto 20px auto;
}
