.container {
  /*background-color: rgba(150, 0, 0, 0.2);
  border: 1px dotted gray;*/
  padding-left: 10px;
  padding-top: 80px;
}
.projectPreview {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 25px;
}
.projectPreview div:first-child {
  margin-top: 35px;
  width: 17%;
}
.projectPreview div:last-child {
  width: 83%;
}
