.container {
  /*background-color: rgba(150, 0, 0, 0.2);
  border: 1px dotted gray;*/
  padding-left: 10px;
  padding-top: 80px;
}
.projectPreview {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 25px;
}
.projectPreview div:first-child {
  width: 17%;
}
.projectPreview div:last-child {
  width: 83%;
}

.projectPreview button {
  margin-top: 35px;
  padding: 7px 10px;
  font-family: "MuseoSansCyrl-500";
  font-size: 0.8em;
  border-radius: 0;
  border: 1px solid #4c4c4c;
  color: #606060;
  background: none;
}
