.container {
  height: 100vh;
  padding-left: 10px;
  padding-top: 80px;
}
.projectPreview {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 25px;
}
.projectButton {
  margin-top: 35px;
  width: 17%;
}
.slideShowComponent {
  width: 83%;
}
