.container {
  margin-top: 30px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  color: #606060;
}

.container img {
  cursor: pointer;
}

.firstBlock {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.firstBlock > div {
  width: 20%;
  display: flex;
  flex-direction: column;
  line-height: 1.3em;
}
.firstBlock > div div:first-child {
  margin-top: 20px;
}
.firstBlock > div div:nth-child(2) {
  margin-top: 20px;
}
.firstBlock > img {
  margin-top: 40px;
  width: 76%;
  align-self: center;
}

.secondBlock {
  margin-top: 135px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secondBlock img {
  width: 76%;
}
.secondBlock div {
  margin-top: 20px;
  margin-right: 40px;
}

.thirdBlock {
  margin-top: 25px;
  margin-left: -10px;
  width: 75%;
  line-height: 1.3em;
}

.fourthBlock {
  margin-left: -15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fourthBlock img:first-child {
  width: 55%;
}

.fourthBlock img:nth-child(2) {
  margin-bottom: 5px;
  margin-right: 5px;
  width: 41.5%;
}

.fifthBlock {
  margin-top: 50px;
  margin-left: -10px;
  width: 70%;
  line-height: 1.3em;
}

.sixthBlock {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.sixthBlock > div {
  margin-right: 30px;
  width: 64%;
  display: flex;
  flex-direction: column;
}
.sixthBlock > div img {
  width: 100%;
}
.sixthBlock > div div {
  margin-top: 20px;
  align-self: center;
}

.projectsLink {
  margin: 30px auto 20px auto;
}
